body{
    background-color: #D3D3D3;
}

.shell{
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(27, 25, 25);
}

.display{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    height: 80px;
    margin: 20px 10px 5px 10px;
    background-color: #FFFAFA;
    text-align: end;
}

.operation{
    height: 30%;
    padding: 5px 10px 0px 10px;
    font-size: 20px;
}

.result{
    height: 70%;
    font-size: 40px;
}

.keyboard{
    display: grid;
    height: 70%;
    margin: 15px 5px;
}

.keyboard-row{
    display: flex;
}

button{
    width: 25%;
    height: 80%;   
    font-family: 'Lucida Sans';
    font-size: 20px;
    border-style: solid;
    background-color: #FF7733;
    border-radius: 10px;
    margin: 3px;
}

#zero, #equals{
    width: 50%;
}

button:hover{
    border-color:  rgb(27, 25, 25);
    background-color: #DB5B1A;
}

.number:hover{
    border-color: rgb(27, 25, 25);
    background-color: #696969;
}

.number{
    background-color: #A9A9A9;
    font-weight: bold;
}