body {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-width: thin;
}

.pixel {
    border-style: ridge;
    border-width: thin;
}