h1{
    font-family: 'Lobster', Georgia, Times, serif;
    text-align: center;
}

.choice{
    border-radius: 50%;
    width: 150px;
    margin: 0 20px 0 20px;
    outline: none;
}

#choices{
    text-align: center;
}

#score{ 
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 54px;
    font-family: 'Arial'
}

.game{
    position: relative;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    margin: 10px 300px 100px 300px;
    padding: 50px;
}

.individual-score{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    width: 100px; 
    margin: 0 20px 0 20px;
    padding: 5px;
}

#result-container{
    text-align: center;
}

.selection{
    position: relative;
    color: deepskyblue;
}
